.DS_Store
*.swp
karabiner.d/log
config/yarn/global/node_modules
*node_modules*
config/hub
config/configstore/update-notifier-*
config/configstore/*-usage.json
config/configstore/nodemon.json
config/configstore/*kap*.json
config/gcloud
config/heroku
config/.env
config/pgcli/log
config/pgcli/history
config/oni
config/coc/list-*
config/coc/memos.json
config/coc/*-mru
vim/undo
vim/fzf
vim/plugged
vim/.netrwhist
vim/mru
