.DS_Store
*.swp
gitconfig.local
karabiner.d/log
*node_modules*
config/yarn/global/node_modules
config/hub
config/configstore/update-notifier-*
config/configstore/*-usage.json
config/configstore/nodemon.json
config/configstore/*kap*.json
config/gcloud
config/heroku
config/.env
config/pgcli/log
config/pgcli/history
config/oni
config/coc/list-*
config/coc/memos.json
config/coc/*-mru
config/coc/extensions/coc-json-data/
config/thefuck
config/iterm2
config/coc/extensions/db.json
config/coc/suggest.txt
config/karabiner/automatic_backups
vim/undo
vim/fzf
vim/plugged
vim/.netrwhist
vim/mru
